<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.mobigesture.uploadTest" version="1.0.0">
    <name>mobi</name>

    <description>Oracle PhoneGap Application</description>

    <author email="raja.bethleham@mobigesture.com" href="http://www.mobigesture.com">mobigesture</author>

    <icon gap:platform="android" height="96" src="img/App_Display_Icon.png" width="96"/>
    <icon gap:platform="ios" height="144" src="img/App_Display_Icon.png" width="144"/>
    <gap:splash gap:platform="ios" height="768" src="img/EBS_Mobility_Logo_1024_768.png" width="1024"/>
    <gap:splash gap:platform="ios" height="1024" src="img/EBS_Mobility_Logo_768_1024.png" width="768"/>
    <gap:splash gap:platform="ios" height="1536" src="img/EBS_Mobility_Logo_2048.png" width="2048"/>
    <gap:splash gap:platform="ios" height="2048" src="img/EBS_Mobility_Logo_1536_2048.png" width="1536"/>
    <gap:splash gap:platform="ios" height="320" src="img/EBS_Mobility_Logo_480_320.png" width="480"/>
    <gap:splash gap:platform="ios" height="480" src="img/EBS_Mobility_Logo_320_480.png" width="320"/>
    <gap:splash gap:platform="ios" height="640" src="img/EBS_Mobility_Logo_960_640.png" width="960"/>
    <gap:splash gap:platform="ios" height="960" src="img/EBS_Mobility_Logo_640_960.png" width="640"/>
    <gap:splash gap:platform="android" height="480" src="img/EBS_Mobility_Logo_480_320.png" width="800"/>
    <gap:splash gap:platform="android" height="800" src="img/EBS_Mobility_Logo_480_320.png" width="480"/>
    <gap:splash gap:platform="android" height="200" src="img/EBS_Mobility_Logo_320_480.png" width="320"/>
    <gap:splash gap:platform="android" height="320" src="img/EBS_Mobility_Logo_480_320.png" width="200"/>
    <gap:splash gap:platform="android" height="320" src="img/EBS_Mobility_Logo_480_320.png" width="480"/>
    <gap:splash gap:platform="android" height="480" src="img/EBS_Mobility_Logo_320_480.png" width="320"/>
    <gap:splash gap:platform="android" height="720" src="img/EBS_Mobility_Logo_480_320.png" width="1280"/>
    <gap:splash gap:platform="android" height="1280" src="img/EBS_Mobility_Logo_480_320.png" width="720"/>   
    
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="phonegap-version" value="3.0.0" /> <!-- all: current version of PhoneGap -->
    
        
    <access origin="*"/>
</widget>
